:root{
    --colorBackground: #242525;
    --colorBorder:linear-gradient(190deg, rgba(212,80,230,0.7231267507002801) 13%, rgba(102,52,153,0.908000700280112) 80%);
    --colorBorder90deg:linear-gradient(90deg, rgba(212,80,230,0.7231267507002801) 13%, rgba(102,52,153,0.908000700280112) 80%) ;
    --colorText1:#e6e2e7;
    --colorText1Hover:#fffeff;
    --colorText2:#626666;
    --colorText3:#b0bdbdd5;
    --colorTextH1:#ebe7ee;    
}
html{
    scroll-behavior: smooth;
}
body{    
    background-color: var(--colorBackground);
    color: whitesmoke;
    overflow-x: hidden;    
}

.container{   
    background-color: var(--colorBackground);                       
    margin: 20px 100px 0 100px;                  
    padding: 40px;
}

.container::before,
.container::after {
    background: var(--colorBorder90deg);
    content: "";
    position: absolute;
    width: 400px; 
    height: 400px;
    z-index: -1;    
}

.container::before {    
    background: var(--colorBorder);
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    left: 0;            
    top: 0;
    transform: translate(70px,0px);    
}
.container::after {
    border-bottom-right-radius:20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    top: 0;
    right: 0;            
    transform: translate(-20%,55%);    
}
header{    
    margin:0 0 60px 0 ;
    background-color: var(--colorBackground);    
}
.icons{
    margin-left: 20px;    
}
.icon{
    cursor: pointer;
    color: rgb(179, 181, 182);    
    font-size: 1.9em;    
    text-decoration: none;
    transition: 0.2s;
}
.icon:hover{
    color: aliceblue;
    font-size: 2.2em;
    transition: 0.2s;
}
main{    
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;    
    padding: 0 100px 0 50px;
}
.home h1{
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home p{
    margin-top: 30px;
}
.info-project{        
    width: 665px;
    height: 367px;
    position: relative;            
}
.info-project::after{
    background: var(--colorBorder);    
    border-radius: 10px;
    content: "";
    height: 300px;
    left: 0;
    top: 0;
    transform: translate(-20px,65px);
    position: absolute;
    width: 3px;
    z-index: 1;
}
.info-project h1{
    color: var(--colorTextH1);        
    margin-top: 50px;
    font-size: 2.5em;    
}
.info-details{
    color: var(--colorText1);
    margin-top: 40px;
    font-size: 1.24em;
}
.info-tecnologies{
    color: var(--colorText2);
    margin: 0;
}
.info-tecnologies-details{
    color: var(--colorText3);
    margin: 0 0 10px 0 ;
}
.links{        
    border-width: 3px;    
    border-style: solid;    
    border-image: var(--colorBorder90deg);
    border-image-slice: 0 0 3 0;
    color: var(--colorText1);
    display: inline-block;
    text-decoration: none;
    transition: 0.2s ;
    padding: 10px;
}
.links:hover{        
    color: var(--colorText1Hover);
    transform: scale(1.1);
    transition: 0.2s ;
}
.projects{
    margin: 0 0 0 50px;
    width: 200px;            
    background-color: var(--colorBackground)   ;
}
.projects h2{
    background-color: var(--colorBackground);        
    color: var(--colorTextH1);
}
.projects-list-items{
    background-color: var(--colorBackground);    
    height: 310px;                    
    margin: 20px 0 0 0;
    position: relative;
    z-index: 1;
}
.projects-list-items::before {
    background: linear-gradient(90deg, rgba(212,80,230,0.7231267507002801) 13%, rgba(102,52,153,0.908000700280112) 80%);
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 70px;
    content: "";
    height: 130px; 
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-5px,-5px);
    width: 140px; 
    z-index: -1;    
}
.projects-list-ul{       
    background-color: var(--colorBackground);    
    height: 310px;                        
    padding: 5px 0px 10px 30px;    
    width: 200px;
}
.projects-list{        
    cursor: pointer;
    color: var(--colorText1);
    display: inline-block;
    list-style: none;    
    margin: 15px 0 0 0;    
    position: relative;      
    z-index: 1;
    transition: 0.2s;
    font-size: 1.1em;
}
.projects-list::before {
    background: linear-gradient(90deg, rgba(212,80,230,0.7231267507002801) 13%, rgba(102,52,153,0.908000700280112) 80%);
    border-radius:10px ;
    content: "";    
    height: 2px; 
    left: 0;    
    position: absolute;
    top: 0;
    transform: translate(0px,24px);
    width: 100%; 
    z-index: -1;    
}

.projects-list:hover{    
    color: var(--colorText1Hover);
    transition: 0.2s;
    transform: scale(1.1);    
}
.cv,
.spring-universidad,
.login-crud-react,
.login-crud-spring,
.login-crud-java,
.login-firebase-android,
.admin-pacientes-react{
    display: none;
}
.-show{        
    animation: show-slide 1s ease-in-out; 
    z-index: -1;    
}
@keyframes show-slide {
    0%{
        opacity: -1;
        transform: translatex(100px);
    } 
    60%{
        opacity: -1;
        transform: translatex(20px);
    }        
    100%{
        opacity: 1;
        transform: translatex(0px);
    }
    
  }
.-hide{ 
    animation: hide-slide 1s ease-out; 
    z-index: -1;
}
@keyframes hide-slide {
    0%{
        opacity: 1;
        transform: translatex(0px);
        
    }            
    100%{
        opacity: -1;
        transform: translatex(200px);
    }
    
}
footer{    
    display: none;  
}


@media only screen and (min-width: 1440px){
    
    .container::after{    
        display: none;    
    }
    
}

@media only screen and (max-width: 1341px){
    body{
        width: 100%;        
        height: auto;
    }
    .container{
        width: auto;
        height: auto;     
        margin: 20px 10px 0 35px;                 
    }
    .container::before,
    .container::after{
        width: 300px;
        height: 300px;
    }
    .container::before{
        border-top-left-radius: 30px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;                
        transform: translate(15px,5px);            
    }
    .container::after{    
        display: none;
        border-bottom-right-radius:20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;              
    }
    header{
        width: auto;    
    }
    main{
        width: auto;        
        flex-direction: row;          
        padding: 0 20px 0 10px;
    }
    .info-project{
       width: auto;  
    }
    .info-project h1{
        width: 400px;
        font-size: 2.4em;        
    }
    .info-details{
        width: auto;
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{
        width: auto;
        height: auto;
        margin: 0 0 0 3%  ;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
    }
     .projects-list:before{
        transform: translate(0px,30px);
    }
    .projects-list-ul{   
        height: auto;
        display: flex;
        flex-direction: column; 

    }
    .projects-list{               
        font-size: 1.15em;
    }
   
}
@media only screen and (max-width: 900px){
    body{
        width: 100%;        
        height: auto;
    }
    .container{
        width: auto;
        height: auto;     
        margin: 20px 10px 0 25px;                 
    }
    .container::before,
    .container::after{
        width: 300px;
        height: 300px;
    }
    .container::before{
        border-top-left-radius: 30px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;                
        transform: translate(5px,5px);            
    }
    .container::after{    
        display: none;
    }
    header{
        width: auto; 
        margin: 0 10px 50px 0;           
    }
    main{
        width: auto;                
        flex-direction: row;         
        padding: 0 40px 0 40px;
    }
    .info-project{        
       width: auto;       
    }
    .info-project::after{
        height: 350px;
    }
    .info-project h1{
        width: 400px;
        font-size: 2.4em;        
    }
    .info-details{
        width: auto;
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{           
        width: auto;        
        margin:0 0 0 50px;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
        margin: 30px 0 0 0  ;
    }
     .projects-list:before{
        transform: translate(0px,40px);
    }
    .projects-list-ul{           
        height: auto;
        display: flex;
        flex-direction: column; 
    }
    .projects-list{               
        font-size: 1.2em;
    }
   
}


@media only screen and (max-width: 800px){
    body{
        width: 100%;        
        height: auto;
    }
    .container{
        width: auto;
        height: auto;     
        margin: 20px 10px 0 25px;                 
    }
    .container::before,
    .container::after{
        width: 300px;
        height: 300px;
    }
    .container::before{
        border-top-left-radius: 30px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;                
        transform: translate(5px,5px);            
    }
    .container::after{    
        display: none;
    }
    header{
        width: auto; 
        margin: 0 10px 50px 0;           
    }
    main{
        width: auto;                         
        padding: 0 20px 0 20px;
    }
    .info-project{        
       width: auto;       
    }
    .info-project::after{
        height: 350px;
    }
    .info-project h1{
        width: 400px;
        font-size: 2.4em;        
    }
    .info-details{
        width: auto;
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{           
        width: auto;        
        margin:0 0 0 50px;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
        margin: 30px 0 0 0  ;
    }
     .projects-list:before{
        transform: translate(0px,40px);
    }
    .projects-list-ul{           
        height: auto;
        display: flex;
        flex-direction: column; 
    }
    .projects-list{               
        font-size: 1.2em;
    }
   
}


@media only screen and (max-width: 700px){
    body{
        width: 100%;
        height: auto;
    }
    .container{
        width: auto;
        height: auto;
        margin: 20px ;        
    }
    .container::before,
    .container::after{
        width: 200px;
        height: 200px;
    }
    .container::before{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;                
        transform: translate(5px,5px);            
    }
    .container::after{    
        display: none;
        border-bottom-right-radius:20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transform: translate(-120px,950px);      
    }
    header{
        width: auto ;    
        margin: 0 20px 20px 0;    
    }
    main{
        width: auto;        
        flex-direction: column;        
        padding: 0 10px 0 10px;
    }
    .info-project{
       width: auto;  
       height: auto;  
       margin-bottom: 40px; 
    }
    .info-project::after{
        height: 350px;
    }
    .info-project h1{
        width: auto;
        font-size: 2.4em;        
    }
    .info-details{
        width: auto;
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{
        width: auto;
        height: auto;
        margin: 0;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
    }
     .projects-list:before{
        transform: translate(0px,30px);
    }
    .projects-list-ul{   
        height: auto;
        display: flex;
        flex-direction: column; 

    }
    .projects-list{               
        font-size: 1.15em;
    }
    .projects-list:before{
        transform: translate(0px,30px);
    }
   
}


@media only screen and (max-width: 500px){
    body{
        width: 100%;
    }
    .container{
        width: auto;
        height: auto;
        margin: 10px ;        
    }
    .container::before,
    .container::after{
        width: 150px;
        height: 150px;
    }
    .container::before{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;                
        transform: translate(0px,0px);            
    }
    .container::after{
        display: none;
    }
    header{
        width: auto;    
        margin: 0 20px 0 10px ;    
    }
    main{
        width: auto;        
        flex-direction: column;        
        padding: 0;
    }
    .info-project{
       width: 300px;  
       height: auto;  
       margin-bottom: 40px; 
    }
    .info-project h1{
        width: auto;
        font-size: 2.4em;        
    }
    .info-details{
        width: auto;
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{
        width: auto;
        height: auto;
        margin: 0;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
    }
     .projects-list:before{
        transform: translate(0px,30px);
    }
    .projects-list-ul{   
        height: auto;
        display: flex;
        padding-left: 15px;
        flex-direction: column; 

    }
    .projects-list{               
        font-size: 1.2em;
    }
    .projects-list:before{
        transform: translate(0px,32px);
    }

    
}
@media only screen and (max-width: 300px){
    body{
        width: 300px;
    }
    .container{
        width: auto;
        height: auto;
        margin: 10px ;        
    }
    .container::before,
    .container::after{
        width: 150px;
        height: 150px;
    }
    .container::before{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;                
        transform: translate(0px,0px);            
    }
    .container::after{
        display: none;
    }
    header{
        width: auto;    
        margin: 0 20px 0 0 ;    
    }
    main{
        width: auto;        
        flex-direction: column;        
        padding: 0;
    }
    .info-project{
       width: auto;  
       height: auto;  
       margin-bottom: 40px; 
    }
    .info-project::after{
        height: 350px;
    }
    .info-project h1{
        width: auto;
        font-size: 2.1em;        
    }
    .info-details{
        margin-top: 20px;
        font-size: 1.1em;
    }
    .projects{
        width: auto;
        height: auto;
        margin: 0 200px 0 0;
    }
    .projects-list-items{
        height: auto;
        width: auto;    
    }
     .projects-list:before{
        transform: translate(0px,30px);
    }
    .projects-list-ul{   
        height: auto;
        display: flex;
        padding-left: 15px;
        flex-direction: column; 

    }
    .projects-list{               
        font-size: 1.2em;
    }
    .projects-list:before{
        transform: translate(0px,40px);
    }
}
